.login-page__logo {
  width: 40px;
}

.login-form {
  width: 380px;
  margin: auto;
}

.login-page__title {
  margin-bottom: 14px;
}

.login-form__content{
  margin-top: 24px;
}

.login-form__field{
  margin-top: 16px;
}

.login-page__input {
  margin-top: 6px;
}

.login-page__submit {
  margin: 24px 0;
}

.login-form__footer {
  text-align: center;
}