@use 'color' as *;
@use 'typography' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  font-family: $font-family;
  background: $background;
  color: $ink;
}